/* resources/css/login.css */
.login-container {
    margin-top: 50px;
    text-align: center;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* resources/css/register.css */
.register-container {
    margin-top: 50px;
    text-align: center;
}

.register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
